@page
@model MyDatabase.Pages.Players.CreateModel
@{
}
<br />
<h2>New Player</h2>

@if(Model.Message.Length != 0)
{
    @if (Model.Message == "New Client Added Correctly")
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Model.Message</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Model.Message</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nickname</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nickname" value="@Model.playerInfo.nickname" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Role</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="role" value="@Model.playerInfo.role" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Heroes</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="heroes" value="@Model.playerInfo.heroes" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Players" role="button">Cancel</a>
        </div>
    </div>

</form>